html, body
{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 400;
    width: 100%;
    background-color: #EBEBEB;
    color: #000000;
}

.container
{
    max-width: 960px;
    margin: 0 auto;
    text-align: center;
}

.content-table
{
    min-height: 100vh;
    display: table;
    margin: 0 auto;
}

.content-cell
{
    display: table-cell;
    vertical-align: middle;
}

.header
{
    text-align: center;
}

h1
{
    font-size: 1.5em;
    font-variant: small-caps;
    letter-spacing: 0.5em;
}

    .a_logo
    {
        text-decoration: none;
        font-variant: small-caps;
        letter-spacing: 0.5em;
        color: #000000;
    }

.menu
{
    margin-top: 350px;
}

.btn_a
{
    display: block;
    background-color: #FFFFFF;
    color: #000000;
    font-size: 0.8em;
    font-variant: small-caps;
    text-decoration: none;
    letter-spacing: 0.25em;
    width: 350px;
    padding: 15px 0;
    margin: 15px auto 0 auto;
    border-radius: 10px;
}

    .btn_a:hover
    {
        background-color: #000000;
        color: #FFFFFF;
    }

.btn_bottom
{
    position: absolute;
    bottom: 50px;
    width: 100%;
}

.btn_a_bottom
{

    display: block;
    background-color: #FFFFFF;
    color: #000000;
    font-size: 0.8em;
    font-variant: small-caps;
    text-decoration: none;
    letter-spacing: 0.25em;
    width: 150px;
    padding: 15px 0;
    margin: 15px auto 0 auto;
    border-radius: 10px;
}

    .btn_a_bottom:hover
    {
        background-color: #000000;
        color: #FFFFFF;
    }


.btn_round
{
    display: block;
    background-color: #000000;
    color: #FFFFFF;
    font-variant: small-caps;
    letter-spacing: 0.25em;
    width: 50px;
    height: 50px;
    margin: 50px auto 15px auto;
    border-radius: 50%;
    border: 0;
    transition: ease-in-out, transform, .35s ease-in-out;
}

    .btn_round:hover
    {
        background-color: #FFFFFF;
        color: #000000;
        transform: rotate(360deg);
    }

.my_form
{
    margin-top: 100px;
}

form input[type=text],
form input[type=password]
{
    display: block;
    background-color: #FFFFFF;
    text-align: center;
    color: #000000;
    font-variant: small-caps;
    font-size: 0.8em;
    letter-spacing: 0.25em;
    width: 300px;
    padding: 15px 0;
    margin: 15px auto 0 auto;
    border-radius: 10px;
    border: 0;
    transition: ease-in-out, width, .35s ease-in-out;
}

    form input[type=text]:focus,
    form input[type=password]:focus
    {
        outline: none;
        width: 350px;
    }

form input[type=submit]
{
    transition: ease-in-out, transform, .35s ease-in-out;
}

    form input[type=submit]:focus
    {
        outline: none;
        transform: rotate(360deg);
    }

    .form_error
    {
        color: #AAAAAA;
        font-size: 0.75em;
        font-weight: 700;
    }

