/* start general */
html, body
{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 400;
    width: 100%;
    background-color: #FFFFFF;
    color: #000000;
    line-height: 1.25em;
}

.clearfix
{
    width: 1px;
    visibility: hidden;
    clear: both;
}

.form_feedback,
.change_feedback
{
    color: #AAAAAA;
    font-size: 0.75em;
    font-weight: 700;
    display: block;
    text-align: center;
    margin-top: 25px;
}

h1
{
    font-weight: 700;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    margin-bottom: 25px;
}

h2
{
    font-weight: 700;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    margin-bottom: 25px;
}

h3
{
    margin-bottom: 50px;
    font-weight: 100;
}

.title
{
    margin-bottom: 50px;
    letter-spacing: 0.25em;
    font-size: 1.25em;
    font-variant: small-caps;
}

/* end general */

/* start navigation */

nav
{
    width: 100%;
    background-color: #EBEBEB;
    display: block;
    position: fixed;
    top: 0;
    z-index: 99;
}

.nav_content
{
    max-width: 960px;
    margin: 0 auto;
    padding: 25px 15px;
    position: relative;
}

.nav_left
{
    position: relative;
    float: left;
}

.nav_right
{
    float: right;
    margin-top: -20px;
}

.a_nav
{
    display: inline-block;
    width: 20px;
    height: 20px;
    text-decoration: none;
    color: #000000;
    text-indent: -9999px;
    background-repeat: no-repeat;
}

.a_profile
{
    background-image: url("../assets/icons/user.svg");
    margin: 0 0 0 25px;
}

.a_search
{
    background-image: url("../assets/icons/search.svg");
    margin: 0 0 0 25px;
}

.a_logout
{
    background-image: url("../assets/icons/power.svg");
    margin: 0 0 0 25px;
}
    
.nav_search
{
    margin: 25px 0 0 0;
}

.nav_back
{
    background-image: url("../assets/icons/arrow.svg");
}

.submit_input
{
    display: block;
    background-color: #FFFFFF;
    text-align: center;
    color: #000000;
    font-variant: small-caps;
    font-size: 0.8em;
    letter-spacing: 0.25em;
    width: 90%;
    padding: 15px 0;
    margin: 0 0 0 auto;
    border-radius: 10px;
    border: 0;
    transition: ease-in-out, width, .35s ease-in-out;
}

.submit_input:focus
{
    outline: none;
    width: 100%;
}

.submit_search
{
    display: none;
}

.container
{

}

/* end navigation */

/* start post zone */

#post_zone
{
    width: 100%;
    border-bottom: 1px solid #EBEBEB;
    margin-top: 70px;
}

#post_zone_content
{
    max-width: 600px;
    padding: 50px 15px;
    margin: 0 auto;
}

select
{
    text-indent: 15px;
}

#input_post,
#post_filter,
.post_img
{
    display: block;
    background-color: #FFFFFF;
    text-align: center;
    color: #000000;
    font-variant: small-caps;
    font-size: 0.8em;
    letter-spacing: 0.25em;
    width: 90%;
    padding: 15px 0;
    margin: 15px auto;
    border-radius: 10px;
    border: 1px solid #EBEBEB;
    transition: ease-in-out, width, .35s ease-in-out;
    -webkit-appearance: none;
}

.post_img:focus
{
    outline: none;
}

#input_post:focus,
#post_filter:focus
{
    outline: none;
    border: 1px solid #AAAAAA;
    width: 100%;
}

#input_post:hover,
#post_filter:hover,
.post_img:hover
{
    border: 1px solid #AAAAAA;
    width: 100%;
}

.button_center
{
    text-align: center;
}

#btn_post
{
    display: inline-block;
    background-color: #000000;
    color: #FFFFFF;
    font-variant: small-caps;
    letter-spacing: 0.25em;
    width: 50px;
    height: 50px;
    margin: 25px auto 0px auto;
    border-radius: 50%;
    border: 0;
    transition: ease-in-out, transform, .35s ease-in-out;
}

#btn_post:hover
{
    background-color: #474747;
    color: #FFFFFF;
    transform: rotate(360deg);
}

#btn_post:focus
{
    background-color: #474747;
    color: #FFFFFF;
    outline: none;
    transform: rotate(360deg);
}

#btn_reset
{
    display: inline-block;
    background-color: #FFFFFF;
    color: #474747;
    font-variant: small-caps;
    letter-spacing: 0.25em;
    width: 50px;
    height: 50px;
    margin: 25px auto 0px auto;
    border-radius: 50%;
    border: 1px solid #474747;
    transition: ease-in-out, transform, .35s ease-in-out;
}

#btn_reset:hover
{
    transform: rotate(360deg);
}

#btn_reset:focus
{
    outline: none;
    transform: rotate(360deg);
}

#preview
{
    width: 100%;
    max-width: 600px;
    border-radius: 10px;
}

#figure_preview
{
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    border-radius: 10px;
}

/* end post zone */

/* start feed */

.feed
{
    width: 100%;
    /* niet met padding op feed-feed => te veel spatie tussen posts */
    margin: 50px 0;
}

.feed-feed
{
    max-width: 600px;
    margin: 0 auto 25px auto;
    padding-bottom: 25px;
    border-bottom: 1px solid #EBEBEB;
}

.feed-id
{
    width: 90%;
    margin: 0 auto 25px auto;
}

.feed-id-username
{
    display: inline-block;
    width: 48%;
}

.feed-id-date
{
    display: inline-block;
    text-align: end;
    width: 50%;
}

.feed-image
{
    width: 100%;
    max-width: 600px;
}

.feed_pict_img
{
    width: 100%;
    max-width: 600px;
}

.feed-comment-list
{
    width: 90%;
    margin: 0 auto;
}

.feed-like-form
{
    display: inline-block;
    width: 48%;
    margin: 15px 0;
}

.number_feed_like,
.number_feed_inapp
{
    color: #474747;
    font-weight: 700;
}

.btn_feed_like
{
    width: 20px;
    height: 20px;
    background-image: url("../assets/icons/heart.svg");
    display: block;
    margin-top: 15px;
    cursor: pointer;
}

.btn_feed_dislike
{
    width: 20px;
    height: 20px;
    background-image: url("../assets/icons/heart_full.svg");
    display: block;
    margin-top: 15px;
    cursor: pointer;
}

.feed_inap_form
{
    display: inline-block;
    text-align: end;
    width: 50%;
    margin: 25px 0;
}

.btn_feed_inapp
{
    width: 20px;
    height: 20px;
    background-image: url("../assets/icons/forbidden.svg");
    display: block;
    margin: 15px 0 0 auto;
    cursor: pointer;
}

.btn_feed_disinapp
{
    width: 20px;
    height: 20px;
    background-image: url("../assets/icons/forbidden_full.svg");
    display: block;
    margin: 15px 0 0 auto;
    cursor: pointer;
}

.feed-comment-list-username
{
    display: inline-block;
    width: 30%;
}

.feed_comment_form
{
    margin: 37px 0 0 0;
}

.feed_comment_form input
{
    display: block;
    background-color: #FFFFFF;
    text-align: center;
    color: #000000;
    font-variant: small-caps;
    font-size: 0.8em;
    letter-spacing: 0.25em;
    width: 90%;
    max-width: 600px;
    padding: 15px 0;
    margin: 0 auto;
    border: none;
    border-top: 1px solid #EBEBEB;
    border-bottom: 1px solid #EBEBEB;
    transition: ease-in-out, width, .35s ease-in-out;
}

.feed_comment_form input:focus
{
    outline: none;
    width: 100%;
    border-top: 1px solid #AAAAAA;
    border-bottom: 1px solid #AAAAAA;
}

.feed_comment_form input:hover
{
    outline: none;
    width: 100%;
    border-top: 1px solid #AAAAAA;
    border-bottom: 1px solid #AAAAAA;
}

.feed_comment_form button
{
    position: absolute;
    left: -999em;
}

.feed-delete
{
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.feed-delete-button
{
    display: inline-block;
    background-color: #FFFFFF;
    color: #474747;
    font-variant: small-caps;
    letter-spacing: 0.25em;
    width: 20px;
    height: 20px;
    margin: 25px auto 0px auto;
    border-radius: 50%;
    border: 1px solid #474747;
    transition: ease-in-out, transform, .35s ease-in-out;
}

.feed-delete-button:hover
{
    transform: rotate(360deg);
}

.feed-feed a,
label a
{
    font-weight: 700;
    text-decoration: none;
    color: #AAAAAA;
}

.feed-feed a:hover,
label a:hover
{
    color: #474747;
}

.feed_more
{
    width: 100%;
    text-align: center;
    margin-bottom: 75px;
}

#load
{
    display: inline-block;
    background-color: #000000;
    color: #FFFFFF;
    font-variant: small-caps;
    letter-spacing: 0.25em;
    width: 50px;
    height: 50px;
    margin: 25px auto 0px auto;
    border-radius: 50%;
    border: 0;
    transition: ease-in-out, transform, .35s ease-in-out;
}

#load:hover,
#load:focus
{
    background-color: #474747;
    color: #FFFFFF;
    transform: rotate(360deg);
    outline: none;
}

/* end feed */

/* start profile change */

#edit_profile
{
    width: 100%;
}

.edit_profile_content
{
    max-width: 960px;
    padding: 50px 15px;
    margin: 0 auto;
    border-bottom: 1px solid #EBEBEB;
}

label
{
    display: inline-block;
    width: 25%;
}

.profile_form input[type="text"],
#input_change_privacy,
.profile_form input[type="password"]
{
    display: block;
    background-color: #FFFFFF;
    text-align: center;
    color: #000000;
    font-variant: small-caps;
    font-size: 0.8em;
    letter-spacing: 0.25em;
    width: 90%;
    padding: 15px 0;
    margin: 15px auto;
    border-radius: 10px;
    border: 1px solid #EBEBEB;
    transition: ease-in-out, width, .35s ease-in-out;
    -webkit-appearance: none;
}

.profile_form input[type="text"]:focus,
#input_change_privacy:focus,
.profile_form input[type="password"]:focus
{
    width: 100%;
    outline: none;
    border: 1px solid #AAAAAA;
}

.profile_form input[type="text"]:hover,
#input_change_privacy:hover,
.profile_form input[type="password"]:hover
{
    width: 100%;
    border: 1px solid #AAAAAA;
}


.profile_form input[type="submit"]
{
    display: inline-block;
    background-color: #000000;
    color: #FFFFFF;
    font-variant: small-caps;
    letter-spacing: 0.25em;
    width: 50px;
    height: 50px;
    margin: 25px auto 0px auto;
    border-radius: 50%;
    border: 0;
    transition: ease-in-out, transform, .35s ease-in-out;
}

.profile_form input[type="submit"]:hover
{
    background-color: #474747;
    color: #FFFFFF;
    transform: rotate(360deg);
}

.profile_form input[type="submit"]:focus
{
    background-color: #474747;
    color: #FFFFFF;
    outline: none;
    transform: rotate(360deg);
}

/* end profile change */

/* start user page */
.summary
{
    width: 100%;
    border-bottom: 1px solid #EBEBEB;
    padding-top: 70px;
}

.results
{
    width: 100%;
    border-bottom: 1px solid #EBEBEB;
}

.summary_content
{
    max-width: 960px;
    margin: 100px auto;
    text-align: center;
}

.profile_pict
{
    display: inline-block;
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 0 0 0;
}

.profile_pict img
{
    width: auto;
    height: 100%;
    margin-left: -50px;
}

.btn_follow
{
    display: block;
    background-color: #FFFFFF;
    text-align: center;
    color: #000000;
    font-variant: small-caps;
    font-size: 0.8em;
    letter-spacing: 0.25em;
    width: 50%;
    padding: 15px 0;
    margin: 50px auto 0 auto;
    border-radius: 10px;
    border: 1px solid #EBEBEB;
    transition: ease-in-out, width, .35s ease-in-out;
    -webkit-appearance: none;
}

.btn_follow:focus,
.btn_follow:hover
{
    outline: none;
    width: 60%;
    border: 1px solid #AAAAAA;
}

.results_content
{
    max-width: 960px;
    margin: 100px auto;
    text-align: center;
}

.figure_cell
{
    display: inline-block;
}

.figure_square
{
    display: inline-block;
    position: relative;
    overflow: hidden;
    width: 200px;
    height: 200px;
}

.figure_square img
{
    width: auto;
    height: 100%;
    /*margin-left: -50px;*/
}

.figure_square img:hover
{
    opacity: 0.5;
}

#feed_detail_page
{
    padding-top: 70px;
}
