html,body
{
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    width: 100%;
    color: #2C2C2C;
}

.container
{
    width: 100%;
    background-color: #F0F0F0;
}

.clearfix
{
    width: 1px;
    visibility: hidden;
    clear: both;
}

h2
{
    font-weight: 600;
}

p
{
    color: #2C2C2C;
}

/*satchmo applicatie pagina*/
#nav
{
    width: 100%;
    margin-top: 25px;
}

    #nav_content
    {
        max-width: 960px;
        margin-left: auto;
        margin-right: auto;
    }

#profile
{
    margin-top: 25px;
    text-align: center;
}

    #profile_content
    {
        max-width: 960px;
        margin-left: auto;
        margin-right: auto;
        padding: 50px 10px;
    }

    .profile_pict
    {
        border-radius: 100px;
        margin-bottom: 10px;
        width: 150px;
        height: 150px;
    }

    /*tijdelijk*/
    #profile_pict_form
    {
        margin-top: 0px;
        width: 75%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 50px;
    }

    #profile_form
    {
        display: none;
        margin-top: 25px;
    }

button
{
    box-sizing: content-box;
    background-color: #4080A8;
    color: white;
    font-weight: 800;
    border: 1px solid #4080A8;
    border-radius: 5px;
    margin-bottom: 5px;
    margin-top: 25px;
    padding: 7px;
    min-width: 25%;
    max-width: 50%;
}

button:hover
{
    background-color: #1A5A85;
    border: 1px solid #1A5A85;
}

/*speciaal andere class, daar logo anders gepositioneerd wordt*/
.logo_app
{
    display: block;
    float: left;

    text-indent: -999px;
    background-image: url(../assets/logo.svg);
    background-repeat: no-repeat;

    width: 60px;
    height: 20px;

    margin-left: 10px;
}

.logout_app
{
    display: inline-block;
    float: right;

    font-variant: small-caps;
    font-weight: 800;
    text-decoration: none;

    width: 60px;
    text-align: right;

    color: black;
    margin-right: 10px;
}


/*startpagina - login of registreer*/
#div_content
{
    min-height: 100vh;
    display: table;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

#div_center
{
    display: table-cell;
    vertical-align: middle;
}

#div_form
{
    background-color: #fff;
    padding: 50px 50px 75px 50px;
    border: 1px solid #ECECEC;
    border-radius: 5px;
}

header
{
}

    .logo
    {
        display: block;

        text-indent: -999px;
        background-image: url(../assets/logo.svg);
        background-repeat: no-repeat;

        width: 120px;
        height: 40px;

        margin-left: auto;
        margin-right: auto;

        padding-bottom: 25px;
    }

    .hr
    {
        width: 20%;
        border-top: 1px solid #6DACD4;
        margin-left: auto;
        margin-right: auto;
    }

    form
    {
        margin-top: 50px;
    }

        input
        {
            display: block;
            width: 75%;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 5px;
            margin-top: 15px;
            padding: 10px;
            border: 1px solid #ECECEC;
            border-radius: 5px;
        }

        input:focus
        {
            border: 1px solid #4080A8;
            outline: 0;
        }

        input[type=submit]
        {
            box-sizing: content-box;
            background-color: #4080A8;
            color: white;
            font-weight: 800;
            border: 1px solid #4080A8;
        }

        input[type=submit]:hover
        {
            background-color: #1A5A85;
            border: 1px solid #1A5A85;
        }

    .form_error
    {
        font-size: 0.7em;
        font-style: italic;
        display: block;
        text-align: center;
    }

    .form_feedback
    {
        font-size: 0.7em;
        font-style: italic;
        padding-top: 5px;
        display: block;
        text-align: center;
    }


#register
{
    display: none;

}

#login
{
}
